*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

html{
    color-scheme: dark;
}

:root{
    --main-color: #fff;
    --secondary-color: #EAEAEA;
    --user-color: #DDF8C0;
    --notification-color: #87ccf5;
    --header-color: #479388;
    --input_bar-color: #F3EEEA;
    --main-text:color: #000;
    --secondary-text:color: gray;
    /* --msg-sent: #265B4C; */
    /* --msg-received: #265B4C; */

}




#app{
    height: 100vh;
    background-image: linear-gradient(180deg, #479388 20%, var(--secondary-color) 20%);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

i:hover{
cursor: pointer;
}

/* CARD  */

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .user_box{
    height: 100%;
    display: flex;
    align-items: center;
}

.card .img_box{
    height: 100%;
}
.card .img_box img{
    height: 100%;
    transform: scale(0.8);
    border-radius: 50%;
}

.card .icon_box{
    width: min-content;
    display: flex;
    padding-right: 2px;
}

.card .icon_box i{
    margin: 0 7px;
}

.card .text_box{
  padding: 5px 3px;
  width: 70%;
}

.card .text_box p:first-child{
    font-size: 1.2rem;
    margin-bottom: 4px;
}

.card .text_box p:nth-child(2){
    color: gray;
}

/* .container_top{
    height: 10vh;
    width: 100%;
    min-width: 1100px;
    background-color: var(--header-color);
}
 */

/* Contenitore principale  */

.container{
    width: 1100px;
    min-width: 500px;
    height: 90%;
    background-color: var(--main-color);
    display: flex;
    margin: auto;

}

.container_sx, .container_dx{
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Parte sinistra contenitore  */

.container_sx{
    width: 31%;
}

/* parte in alto della parte sinistra del container  */

.container-sx_header_top{
    min-height: 10%;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-right: 1px solid rgba(105, 105, 105, 0.2);

}

/* Area utente parte altra a sinistra  */



.container-sx_header_top.card .text_box{
  height: auto;
  padding: 5px 3px;
}

.container-sx_header_top.card .icon_box{
    font-size: 1.3rem;
    color: gray;
    margin-right: 10px;
}
/* Spazio notifiche parte alta a sinistra  */

.container-sx_header_bottom{
    width: 100%;
    background-color: var(--notification-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

.fa-bell-slash{
    float: left;
    font-size: 22px;
    margin-right: 15px;
    border-radius: 50%;
    padding: 13px 10px;
    color: var(--notification-color);
    background-color: white;
}

.notification_box a{
color:rgb(105, 105, 105);
}

.container-sx_main{
    height: 81%;
    width: 100%;
    background-color: var(--secondary-color);
}

/* List delle chat  */



.input_container{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: var(--main-color);
    border: 10px solid var(--secondary-color);
    position: relative;
}

.fa-magnifying-glass{
    text-align: center;
    vertical-align: middle;
    color: gray;
}

.input_container .fa-magnifying-glass{
    
    position: absolute;
    margin-left: 5px;
}

#search_chat{
    width: 100%;
    height: 30px;
    border: 0;
    padding-left: 25px;
}


.archive_container{
    padding: 10px;
    border: 10px solid var(--secondary-color);

}

.archive_container i{
    margin-right: 20px;
}

.chat_list_container{
    background-color: var(--secondary-color);
    flex-direction: column;
    align-items: flex-start;
}

.card.chat_item{
    height: 100px;
    border-bottom: 1px solid rgba(105, 105, 105, 0.2);
    display: block;
}
.card.chat_item :hover{
    cursor: pointer;
}

.card.chat_item .text_box{
    padding: 10px;
}


/* Parte destra contenitore  */


/* Intestazione parte destra contenitore  */
.container_dx{
    width: 69%;
}

.container-dx_top{
    height: 10%;
    width: 100%;
    background-color: var(--secondary-color);
}

.container-dx_top .icon_box{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    font-size: 1.2rem;
    color: gray;
}


.container-dx_top .icon_box .fa-magnifying-glass{
    background-color: transparent;
}

/* Spazio chat principale  */

.container-dx_main{
    height: 82%;
    width: 100%;
    background-image: url(./img/mine.jpg);
    padding: 30px 30px;
    overflow-y: scroll;
}

.msg_container{
    position: relative;
    width: min-content;
    border-radius: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.date_container{
    right: 10px;
    bottom: 1px;
    font-size: 10px;
    color: gray;
    white-space: nowrap;
    text-align: end;
    margin-right: 5px;
    margin-left: 5px;
}


.msg{
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 3px;
    width: min-content;
    white-space: nowrap;
}

.ms_auto{
    margin-left: auto;
    background-color: var(--msg-sent);

}

.me_auto{
    margin-right: auto;
    background-color: var(--msg-received);
}

/* barra con input per la chat e emoji / microfono */




.container-dx_bottom{
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:  10px 0;
    background-color: var(--input_bar-color);
}

.container-dx_bottom textarea{
    width: 80%;
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding-top: 0.4rem;
    padding-left: 0.2rem;
}




.emoji_container_hidden{
    position: absolute;
    top: -20px;
    display: flex;
    visibility: hidden;
    transition: 0.1s;
}

.emoji_container_visible{
    position: absolute;
    background-color: rgb(168, 168, 168);
    top: -65px;
    width: min-content;
    border-radius: -2%;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    transition: 0.3s;
    padding:  5px;
}

.emoji_toggler{
    position: relative;
    font-size: 1.2rem;
    color: grey;
    cursor: pointer;
}

.emoji_container span{
    padding: 2.5px 5px;
    flex-basis: calc(100% / 2);
    border-radius: 50%;
}

.emoji_container span:hover{
    background-color: rgba(105, 105, 105, 0.6);
    transition: 0.3s;
    
}


/* Javascript related  */

.active{
background-color: rgba(105, 105, 105, 0.2);


}

.recordingOn.fa-microphone{
    color: red;
    transition: 0.3s;
    background-color: white;
    padding: 8px 10px;
    border: 2px solid red;
    border-radius: 50%;
    animation-name: glowing;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.recordingOff.fa-microphone{
    color: black;
    transition: 0.3s;
    border-radius: 50%;
}

@keyframes glowing {
    0%   {color: black;}
    50%  {color: red;}
    100% {color: black;}  }


    /* medias */

 @media (prefers-color-scheme: dark) {
     :root{
        --main-color: #2E3941; 
        --secondary-color: #222C32;
        --user-color: #222C32;
        --notification-color: #2E3941;
        --header-color: #479388;
        --input_bar-color: #2E3941;
        --secondary-text:color: #89969F;
        --msg-sent: #265B4C;
        --msg-received: #2E3941;

     }
     .container-dx_main{
        background-image: url(./img/whatsapp_dark.webp);

     }

     .container{
         border: 1px solid #2E3941;
     }
     .card.chat_item :hover{
         background-color: rgba(46, 57, 65, 0.5);
    }
    
     .card.chat_item .text_box:hover{
         background-color: rgba(46, 57, 65, 0.5);
    }

    .emoji_container_visible{
        background-color: var(--main-color);
    }


    .container-dx_bottom i.fa-microphone{
        color: white;
    }
    
}

@media (prefers-color-scheme: light) {
    :root{
        --main-color: #fff;
        --secondary-color: #EAEAEA;
        --user-color: #DDF8C0;
        --notification-color: #87ccf5;
        --header-color: #479388;
        --input_bar-color: #F3EEEA;
        --main-text:color: #000;
        --secondary-text:color: gray;
        /* --msg-sent: #265B4C; */
        /* --msg-received: #265B4C; */
    
    }
    } 

/* .day   { background-color: var(--main-color); color: black; }
.night { background: #333; color: white; } */ 